.title {
    color: rgb(243, 197, 157);
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    text-shadow: 0.5px 0.5px grey;
    
}

.header {
    display: flex;
    flex-direction: row;
    margin-right: 1.5rem;
    margin-left: 2rem;
}

.userButton {
    padding-right: 2rem;
}
