.notesPageLayout {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tableCard {
    width: 49%;
}
.chartCard {
    width: 49%;
}

.notePreviewLabel {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0.85rem 2rem;
    background-color: peachpuff;
}

.notePreviewTextArea {
    width: 100%;
    margin: 0 1rem;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
}
