.notesPageLayout {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tableCard {
    width: 49%;
}
.chartCard {
    width: 49%;
}

.notePreviewLabel {
    color: gray;
    font-size: 1.25rem;
    padding: 2rem;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
}
