<div class="notesPageLayout">
    <div class="tableCard">
        <p-card [style]="{'height': '100vh'}">
            <ng-template pTemplate="header">
            <p-table [value]="notes" styleClass="p-datatable-striped"  [scrollable]="true">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:20%">
                        <col style="width:30%">
                        <col style="width:20%">
                        <col style="width:30%">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Drafted Ideas</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-note>
                    <tr>
                        <td>{{note.name}}</td>
                        <td>{{note.date}}</td>
                        <td>
                            <p-avatar 
                                shape="circle" 
                                [label]="note.hasDraft ? 'Y' : 'N'"
                                [style]="{'background-color': note.hasDraft ? '#fab710': '#689F38'}">
                            </p-avatar>
                        </td>
                        <td>
                            <div class="actionButtons">
                                <button 
                                    icon="pi pi-pencil" 
                                    label="Edit" 
                                    type="button"
                                    pRipple
                                    pButton
                                    class="p-button-raised p-button-info p-button-text"
                                    (click)="editNote(note)">
                                </button>
                                <button 
                                    icon="pi pi-search-plus" 
                                    label="Preview" 
                                    type="button"
                                    pRipple 
                                    pButton
                                    class="p-button-raised p-button-secondary p-button-text"
                                    (click)="previewNote(note)">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
        </p-card>
    </div>
    <div class="chartCard">
        <p-card [style]="{'height': '100vh'}">
            <ng-template pTemplate="header">
                <div class="notePreviewLabel">Note Preview</div>
            </ng-template>
            <div *ngIf="noteSelectedForPreview" class="notePreviewTextArea">
                {{notePreviewTextToDisplay}}
            </div>
        </p-card>
    </div>
</div>