.pageLayout {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 5rem;
}

.descriptionCard {
    width: 28%;
}

img {
    max-width:100%;
}

.descriptionText {
    text-align: left;
}
