<div class="pageLayout">
    <div class="descriptionCard">
        <p-card >
            <ng-template pTemplate="header">
                <img alt="Notepad" src="assets/pexels-tirachard-kumtanom-544115.jpg">
            </ng-template>
            <div class="descriptionText">
                Welcome to the coolest notes app on the internet. <br/>
                With the <b>Carry-On Notes</b> app you can take your notes with you anywhere you go.
                Read, write and modify your notes on the go. <br/>
                And remember, no need to back your notebook in your carry-on anymore.
            </div>
        </p-card>
    </div>

    <div class="descriptionCard">
        <p-card >
            <ng-template pTemplate="header">
                <img alt="Notepad" src="assets/pexels-lumn-399161.jpg">
            </ng-template>
            <div class="descriptionText">
                We know, the smell of a sheet of paper is unrivaled. <br/>
                The feeling of browsing through an entirely written notebook...yeah, unequal. 
                But how about being mindfully sustainable and reducing our carbon footprint. <br/>
                Not to mention the added benefit of <b>Ctrl + F</b>. 
            </div>
        </p-card>
    </div>

    <div class="descriptionCard">
        <p-card >
            <ng-template pTemplate="header">
                <img alt="Notepad" src="assets/pexels-lukas-317356.jpg">
            </ng-template>
            <div class="descriptionText">
                Ah...the good old sticky notes and highlight markers. <br/>
                Don't sweat it, we have those too. Plenty of <b>colors</b> to choose from,
                maybe some you didn't even know existed. Like <b>aliceblue</b>...well unless 
                you're a CSS developer. In that case, please don't be too harsh on us.
            </div>
        </p-card>
    </div>
</div>
